# This file is part of Dokploy.
# Supports both DinD and socket mounting modes
services:
  dokploy-app:
    image: alexdev404/dokploy
    container_name: dokploy-app
    ports:
      - "3000:3000"  # Web Interface
      - "3001:22"    # SSH for tunneling/maintenance/upgrades
      - "1088:8080"  # Traefik Dashboard
      - "8081:8081"  # Xibo
      - "8082:8082"  # Unassigned
      - "8083:8083"  # Unassigned
    # For DinD mode: use privileged
    privileged: true
    # For socket mode: uncomment below and comment out privileged
    # volumes:
    #   - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    deploy:
      restart_policy:
        delay: 1m
        condition: any
